.credits-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: 1px solid white; */
  /* background-color: rgba(18, 114, 144, 0.551); */
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 20px;

  h1 {
    /* padding: 0; */
    margin: 5px;
  }
}

.credits-slider {
  margin: 0px 20px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.credits-slider .sliding-cards {
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .character {
    font-size: 14px;
  }
}
/* 
@media(min-width:800px) and (max-width:1500px){
  .credits-container{
    height: 40vh;
  }
}

@media(max-width:800px){
  .credits-container{
    height: 38vh;
  }
  } */
@media (max-width: 630px) {
  .credits-slider .sliding-cards {
    .title {
      font-size: 14px;
      font-weight: bold;
      width: 120px;
    }
    .character {
      font-size: 13px;
    }

  }
}
@media (max-width: 400px) {
  .credits-slider .sliding-cards {
    .title {
      font-size: 14px;
      font-weight: bold;
      width: 120px;
    }
    .character {
      font-size: 13px;
    }
  }
}
