.credits-container {
  color: white;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* border: solid; */
  height: 50vh;
  padding: 0 20px;
  background-color: rgba(18, 114, 144, 0.551);
  margin: 2px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.credits-slider {
  height: 45vh;
  margin: 0 20px;
  border-radius: 20px;

  h1 {
    padding-top: 10px;
  }
}

.credits-slider .sliding-cards {
  /* color: black; */
  padding-top: 10px;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .character{
    font-size: 14px;
  }
}
