.credits-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* flex-wrap: wrap; */ 
  border: 1px solid white;
  /* height: 45vh; */
  padding: 0 20px;
  background-color: rgba(18, 114, 144, 0.551);
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.credits-slider {
  /* border: solid; */
  /* height: 45vh; */
  margin: 0px 20px;
  padding: 20px 0;
  border-radius: 20px;

  /* h1 {
    padding-top: 10px;
  } */
}

.credits-slider .sliding-cards {
  /* color: black; */
  padding-top: 10px;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .character{
    font-size: 14px;
  }
}
/* 
@media(min-width:800px) and (max-width:1500px){
  .credits-container{
    height: 40vh;
  }
}

@media(max-width:800px){
  .credits-container{
    height: 38vh;
  }
}

@media(max-width:400px){
  .credits-container{
    height: 42vh;
  }
} */