/* pagination */
.page-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.386); */
}

.page-nav button,.page-nav input{
  border: none;
  border-radius: 13px;
  padding: 10px 45px;
  background-color: rgba(3, 59, 156, 0.772);
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  /* styles for nav buttons */
  .page-nav button{
    padding: 10px 20px;
  }
  .page-nav input{
    padding: 10px;
  }
}
