.video-container {
  /* border: solid white; */
  margin: 10px 40px;
  border-radius: 20px;
  padding: 10px;
}
.video-player {
  aspect-ratio: 16 / 9;
  width: 650px;
  /* border: solid white; */
  border-radius: 10px;
}

/*  */
.lite-video-wrapper {
  position: relative;
  /* width: 100%; */
  width: 560px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  padding: 12px 20px;
  border-radius: 50%;
  pointer-events: none;
}
.video-title {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -80%);
  background: rgba(0, 0, 0, 0.623);
  color: white;
  font-size: 16px;
  padding: 2px 5px;
  /* border-radius: 10%; */
  min-width: 60%;
  pointer-events: none;
}

.video-player {
  width: 100%;
}

.slick-slide {
  visibility: visible !important;
}

/*  */

@media (max-width: 1240px) {
  .video-container {
    margin: 20px 30px;
  }

  .lite-video-wrapper {
    width: 500px;
  }
}
@media (max-width: 1100px) {
  .video-container {
    margin: 20px 30px;
  }

  .lite-video-wrapper {
    width: 450px;
  }
}
@media (max-width: 990px) {
  .video-container {
    margin: 20px 30px;
  }

  .lite-video-wrapper {
    width: 420px;
  }
}
@media (max-width: 600px) {
  .video-container {
    margin: 20px 15px;
  }
  .video-title {
    font-size: 12px;
    transform: translate(-50%, -100%);
  }
}
@media (max-width: 390px) {
  .video-container {
    margin: 20px 15px;
  }
}
