/* Prevent Slick from stacking slides vertically */
.slick-slide > div {
  display: flex !important;
  justify-content: center;
}

.sliding-cards .card-info{
  padding-top: 8px;
}


.slide-container {
  border-radius: 20px;
  width: 85vw;
  min-height: 352px;
  /* border: solid white; */
  /* background-color: rgba(16, 107, 152, 0.557); */
}

/* card.css styles */
.sliding-cards {
  /* border: solid black; */
  border-radius: 20px;
  min-height: 250px;
  width: 100%;
  padding: 10px;
  /* background-color: rgba(28, 111, 142, 0.586); */
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.sliding-cards img {
  width: 100%;
  border-radius: 8px;
}
.sliding-cards img:hover {
  box-shadow: 0 0 5px 2px rgb(252, 251, 251);

  transition: 0.1s ease;
}

.slide-container h2 {
  color: white;
}
