.backdrops-container{
  margin: 0px auto;
  /* padding: 10px 0; */
  width: 85%;
  padding-left: 20px;
  /* border: solid white; */
}

.backdrops-container .backdrop-border img{ 
  /* height: 100px; */
  width: 90% ;
  border: solid white;
  border-radius: 10px;
}