.header-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(3, 59, 156, 0.772);
  color: white;
  padding: 10px;
  /* border: solid blue; */
}

.left-header,
.mid-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid black; */
  display: flex;
  gap: 10px;
  /* padding: 10px; */
  font-size: 16px;
}
.header-container a, .btn {
  color: white;
}

.btn {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(125, 12, 125, 0.546);
  padding: 6px 10px;
  box-shadow: 0 0 5px 1px black;
}

.github-btn a {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* these applies to every button */
button:hover {
  box-shadow: 0 0 5px 2px white;
}
button:active {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.374);
  transition: 0.1s ease-out;
}

.git-logo img {
  width: 20px;
}


@media (max-width:500px) {
  /* .header-container .mid-header,header .left-header{
    
    justify-content: center;
    align-items: center;
  } */

  .github-btn span{
    display: none;
  }

  /* currently right header only holdes
  dummy links, so hide on mobile */
  .right-header{
    display: none;
  }
}