body {
  overflow-y: scroll; /* always show scrollbar space */
  overflow-x: hidden;
}

.details-container {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
}

.poster-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-container img {
  width: 350px;
}

/* .details-container section {
  border: solid black;
} */

.more-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.507);
  border: solid white;
  border-radius: 20px;
  margin: 0 20px;
  padding: 10px 30px;
  min-height: 400px;
  flex: 2;
  font-size: 18px;
  
  h1 {
    font-size: 28px;
    color: brown;
  }

  span{
    line-height: 25px;
  }
}

@media (max-width: 880px) {
  .details-container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .poster-details{
    border: solid;
    min-height: 530px;
  }

  .more-info{
    min-width: 350px;
    min-height: 300px;
  }
}
