span {
  color: white;
  text-align: center;
  padding: 5px;
}
.search-container {
  margin: 0px auto;
  padding: 5px;
  gap: 20px;
  max-width: 1200px;
  /* border: solid white; */
}

/* ----------------------------------------------------- */

.search-container .flex-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.search-container .card {
  font-size: 15px;
}
.search-meta-info {
  padding: 15px;
  margin: 10px 0;
}
.search-meta-info .btn {
  margin: 0 10px;
}
.query-slider {
  border-radius: 20px;
  margin: 0 20px;
  /* background-color: rgba(230, 8, 215, 0.401); */
}
.query-slider .btn {
  padding: 5px;
  margin: 10px;
  background-color: rgba(20, 20, 213, 0.643);
}

.search-container .search-input input{
  width: 90%;
  font-size: 16px;
  background-color: rgb(234, 234, 234);
}

@media (max-width: 600px) {
  .search-container .card {
    /* border: solid black; */
    /* border-radius: 20px; */
    width: 173px;
    min-height: 310px;
    padding: 4px;
  }
  .search-container .card img {
    width: 155px;
  }
  .search-meta-info .btn {
    font-size: 14px;
  }
  .search-container .card {
    font-size: 13px;
  }
}

@media (max-width: 406px) {
  .search-container .card {
    border-radius: 15px;
    width: 160px;
    min-height: 280px;
    padding: 5px;
  }
  .search-container .card img {
    border-radius: 12px;
    width: 148px;
  }
  .search-meta-info .btn {
    font-size: 13px;
  }
  .query-slider .btn {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .search-container .card {
    border-radius: 15px;
    width: 140px;
    min-height: 250px;
    padding: 5px;
  }
  .search-container .card img {
    border-radius: 12px;
    width: 128px;
  }

  .search-container .card {
    font-size: 12px;
  }
}
