main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: solid black; */
  height: 45vh;
}

main .hero img{
  position: absolute;
  height: 45vh;
  width: 100vw;
  z-index: -1;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */
  object-fit: cover;
  object-position: center;
}


main .hero input {
  /* display: block; */
  /* color: green */
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.781);
  height: 40px;
  width: 450px;
  text-align: center;
  border: none;
  border-radius: 20px;
}

main .hero .heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  color: white;
  font-weight: 900;
}

main .hero .heroText span:nth-child(1){
  font-size: 40px;
}

.flex-sildes{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid white; */
}

h2{
  color: white;
}

@media (max-width: 600px) {
  main .hero input {
    width: 300px;
  }

  main .hero .heroText {
    font-size: 22px;
  }
}
