body {
  overflow-y: scroll; /* always show scrollbar space */
  overflow-x: hidden;
}

.details-container {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 0 20px;
  /* margin: 0 auto; */
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  border-radius: 20px;
  margin: 2px;

}
.details-container .details-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  border-radius: inherit;
}



.details-container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  z-index: -1;
}


.poster-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-container .poster-details  img {
  width: 350px;
  min-height: 500px;
  border: 1px solid whitesmoke;
}

/* .details-container section {
} */

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 20px;
  padding: 10px 30px;
  min-height: 400px;
  flex: 2;
  font-size: 16px;

  h1 {
    font-size: 28px;
    color: brown;
  }

  span {
    line-height: 20px;
  }
}

.section-heading{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.media-page-heading{
  font-size: 24px;
  font-weight: bold;
  color: rgb(187, 12, 12);
}

.slider-bg{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.259);
}

@media (max-width: 880px) {
  .details-container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .poster-details {
    min-height: 530px;
  }

  .more-info {
    min-width: 350px;
    min-height: 300px;
  }
}

@media (max-width: 390px) {
  .poster-details {
    min-height: 480px;
  }
  .details-container .poster-details img {
    width: 320px;
    min-height: 475px;
  }
  .more-info {
    min-width: 330px;
    min-height: 300px;
  }
}

@media (max-width: 350px) {
  .poster-details {
    min-height: 480px;
  }
  .details-container .poster-details img {
    width: 310px;

  }
  .more-info {
    min-width: 310px;
    min-height: 300px;
  }
}
