.movie-container h1{
  font-size: 24px;
}
.movie-container {
  padding: 10px;
  /* border: solid black; */
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.movie-container .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.vote-avg-card{
  padding: 7px 20px;
  font-size: 0.9rem;
  margin: 9px 1px;
}

@media (max-width: 600px) {
  .movie-container .card {
    /* border: solid black; */
    /* border-radius: 20px; */
    width: 173px;
    min-height: 310px;
    padding: 4px;
    font-size: 13px;
  }
  .movie-container .card img {
    width: 155px;
  }
  .movie-container h1{
  font-size: 20px;
}
}

@media (max-width: 406px) {
  .movie-container .card {
    border-radius: 15px;
    width: 160px;
    min-height: 280px;
    padding: 5px;
    font-size: 12px;
  }
  .movie-container .card img {
    border-radius: 12px;
    width: 138px;
  }
}

@media (max-width: 350px) {
  .movie-container .card {
    border-radius: 15px;
    width: 140px;
    min-height: 250px;
    padding: 5px;
  }
  .movie-container .card img {
    border-radius: 12px;
    width: 128px;
  }
}
